.sidebar {
    margin-top: 40px;
}

p {
    font-size: 16px;
    line-height: 30px;
    color: #666666;
}

.call-to-action-widget {
    padding: 30px;
    margin-top: 30px;
}


.fb-bg {
background-color: #3B5998;
}
.tw-bg {
background-color: #55ACEE;
}
.gplus-bg {
background-color: #DD4B39;
}

footer.page-footer a {
line-height: 25px;
}

footer.page-footer a {
color: #fff;
font-size: 15px;
}